/*style of navBar*/
.ContainerNav {
    background-color: #fff;
    border-bottom: 1px solid #E2E3E9;
    box-shadow: 0px 0px 10px #E2E3E9;
}

.NavLogo {
    width: 90px;
    height: 40px
}

.border {
    border: 1px solid black;
}